@import '../../../styles/vars.scss';

.cart-empty {
  text-align: center;

  img {
    margin-bottom: 15px;
  }

  span {
    font-weight: 600;
    display: block;
  }
}

@media (max-width: 1200px) {
	.cart-empty {
		
		img {
			margin-bottom: 10px;
		}
	}
}
