@import '../../styles/vars.scss';

.game-page {
  margin-bottom: 60px;

  &__content {
    display: grid;
    grid-template-columns: 735px 360px;
    grid-template-rows: auto;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 35px;

    &-left {
      &_video {
        width: 100%;
        height: 450px;
        position: relative;

        button {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 14;
          }

          &:hover svg {
            color: $c-light-orange;
            scale: 1.2;
          }

          &::after,
          button,
          img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          svg {
            color: $c-white;
            font-size: 4rem;
            z-index: 15;
            transition: all 0.2s ease;
          }
        }
      }
    }

    &-right {
      min-height: 450px;
      display: flex;
      flex-direction: column;
      background-color: $c-medium-blue;
      box-shadow: 0 3px 17px $c-medium-blue;
      border-radius: 15px;
      overflow: hidden;

      &_img {
        width: 100%;
        max-width: 100%;
        height: 170px;
        object-fit: cover;
      }

      &_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 15px 20px 15px;
      }

      &_info {
        font-size: $f-def;

				li {
					line-height: 1.4;
				}

        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &_genres {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 9px;
        column-gap: 10px;
        margin-bottom: 12px;

        h6 {
          font-size: $f-def;
          font-weight: 700;
          width: 100%;
        }

        li {
          @extend %genre-label;
        }
      }

      &_bottom {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;

        span {
          @extend %cost-label;
          padding: 3px 7px;
        }

        button {
          font-size: $f-medium;
        }
      }
    }
  }

  &__desc {
		li {
			line-height: 1.45;
		}

    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
