.game-page {
  &__content {
    display: grid;
    grid-template-columns: 580px 480px;
    grid-template-rows: repeat(1fr);
    justify-content: space-between;
    column-gap: 30px;

    &-left {
      &_video {
        width: 100%;
        max-width: 700px;
        height: 340px;
        background-color: rgb(202, 202, 202);
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      background-color: #232527;
      padding: 20px 25px 30px 25px;
      border-radius: 15px;

      &_name {
        font-size: 1.6rem;
        margin-bottom: 17px;
      }

      &_descr {
        font-size: 1rem;
        margin-bottom: 30px;
      }

      &_genres {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 7px;
        column-gap: 10px;

        h6 {
          font-size: 1.1rem;
          font-weight: 700;
          width: 100%;
        }

        li {
          font-size: 1rem;
        }
      }

      &_btn {
        margin-top: auto;
        margin-right: auto;
      }
    }
  }
}
