@import '../../../styles/vars.scss';

.cart-total {
  margin: 0 4px;
  margin-top: 5px;
  max-width: 440px;

  &__info {
    &-item {
      display: flex;
      justify-content: space-between;
      column-gap: 5px;

      & + & {
        margin-top: 12px;
      }

      div {
        font-size: $f-def;
        font-weight: 600;
      }

      span {
        flex: 1;
        border-bottom: 1px dashed #fff;
        margin-bottom: 2px;
      }
    }
  }

  span {
    display: block;
    margin-top: 25px;
    margin-right: 6px;
    display: flex;

    a {
      font-size: $f-def;
      font-weight: 600;
      padding: 2px 9px 3px 9px;
      background-color: $c-light-orange;
      border-radius: 5px;

      margin-left: auto;
      transition: background-color 0.1s ease;

      &:hover {
        background-color: $c-orange;
      }
    }
  }
}

@media (max-width: 1200px) {
	.cart-total {
		span {
			margin-right: 0; 
			
			a {
				border-radius: 3px;
				margin: 0 auto;
			}
		}
	}
}
