@import '../../../styles/vars.scss';

.cart-total {
  padding: 0 9px;
  margin: 30px 0 10px 0;
  &__info {
    &-item {
      display: flex;
      justify-content: space-between;
      column-gap: 5px;

      & + & {
        margin-top: 12px;
      }

      div {
        font-size: $f-def;
        font-weight: 600;
      }

      span {
        flex: 1;
        border-bottom: 1px dashed #fff;
        margin-bottom: 2px;
      }
    }
  }

  button {
    font-size: $f-def;
    font-weight: 600;
    padding: 2px 9px 3px 9px;
    background-color: $c-light-orange;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: $c-orange;
    }
  }
}
