@import '../../styles/vars.scss';

.cart {
	&__items {
		margin-bottom: 45px;
	}

	.cart-empty {	
		img {
			width: 230px;
			margin-top: 55px;
			margin-bottom: 15px;
		}

		span {
			font-size: 2.8rem;
		}
	}
}

@media (max-width: 796px) {
	.cart {
		&__items {
			margin-bottom: 25px;
		}

		.cart-empty {
			img {
				width: 160px;
			}

			span {
				font-size: $f-big;
			}
		}
	}
}
