@import '../../../styles/vars.scss';

.pagination {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 7px;

  &__item {
    &-link {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $c-extra-light;
      border-radius: $b-radius-big;
      transition: background-color 0.1s ease;

      &--active {
        font-weight: 700;
        background-color: $c-extra-light;
      }

      &:hover {
        background-color: $c-extra-light;
      }
    }
  }
}

@media (max-width: 930px) {
  .pagination {
    &__item {
      &-link {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (hover: none) {
  .pagination {
    &__item {
      &-link {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
