$c-white: #fff;
$c-dark-blue: #18191b;
$c-medium-blue: #232527;
$c-light-grey: #35383a;
$c-extra-light: #454749;
$c-orange: #da5038;
$c-light-orange: #e77f6c;
$c-blue: #3e54b4;
$c-blue-gradient: linear-gradient(45deg, #415cd1, #324bb9);

$f-small: 1.6rem;
$f-def: 1.8rem;
$f-medium: 2rem;
$f-big: 2.4rem;
$f-huge: 3rem;

$b-radius-small: 10px;
$b-radius-def: 20px;
$b-radius-big: 20px;

%gameImgHover {
  overflow: hidden;
  position: relative;

  &:hover::after,
  &:hover svg {
    visibility: visible;
    opacity: 1;
  }

  svg {
    font-size: 2.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  svg,
  &::after {
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

%genre-label {
  font-size: $f-small;
  background-color: $c-extra-light;
  border-radius: $b-radius-small;
  padding: 2px 8px;
}

%cost-label {
  color: $c-dark-blue;
  font-weight: 600;
  background-color: $c-white;
  border-radius: $b-radius-def;
}
