$c-white: #fff;

%gameImgHover {
  overflow: hidden;
  position: relative;

  &:hover::after,
  &:hover svg {
    visibility: visible;
    opacity: 1;
  }

  svg {
    font-size: 2.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  svg,
  &::after {
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
