.home {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  column-gap: 20px;
	row-gap: 40px;
  margin-bottom: 50px;

  &__wrapper {
    width: 100%;
    max-width: 920px;
    display: grid;
    grid-template-columns: repeat(3, minmax(275px, 290px));
    grid-template-rows: 366px;
    justify-content: space-between;
    gap: 23px;
  }
}

@media (max-width: 1200px) {
  .home {
		row-gap: 30px;

		.filters {
			order: -1;
		}

		&__wrapper {
			max-width: 100%;
			grid-template-columns: repeat(3, minmax(275px, 1fr));
			justify-content: center;
			gap: 20px;
		}
	}
}
