@import '../../styles/vars.scss';

.header {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 10px 0;
  margin-bottom: 40px;

  &__logo {
    color: $c-white;
    font-size: 3.6rem;
    font-weight: 700;
    transition: color 0.1s ease;

    &:hover {
      color: $c-light-orange;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 40px;

    &-money {
      font-size: 1.9rem;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-weight: 600;
      }

      svg {
        font-size: $f-medium;
        margin-bottom: 4px;
      }
    }
  }
}

@media (max-width: 1200px) {
	.header {
		margin-bottom: 20px;
	}
}
