@import '../../styles/vars.scss';

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
  padding: 13px 25px;
  border-top: 2px solid $c-light-grey;
  border-radius: 2px;

  &:last-child {
    border-bottom: 2px solid $c-light-grey;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 25px;

    &-img {
			min-width: 205px;
      display: flex;
      border-radius: $b-radius-small;
      @extend %gameImgHover;
			
      img {
        width: 205px;
        height: 116px;
				object-fit: cover;
      }
    }
  }

  &__content {
    max-width: 420px;

    &-name {
      font-size: $f-big;
      margin-bottom: 20px;
    }

    &-price {
      font-size: $f-def;
    }
  }

  &__right {
    button {
      color: $c-light-orange;
      font-size: $f-medium;
      border-bottom: 2px solid $c-light-orange;
      transition: all 0.1s ease;

      &:hover {
        color: $c-orange;
        border-color: $c-orange;
      }
    }
  }
}

@media (max-width: 796px) {
  .cart-item {
		column-gap: 18px;
    padding: 8px 18px;

    &__left {
      gap: 15px;

      &-img {
        max-width: 180px;
				
				img {
					height: 105px;
				}
      }
    }

    &__content {
      &-name {
        font-size: $f-medium;
				margin-bottom: 12px;
      }
    }

    &__right {
      button {
        font-size: $f-def;
      }
    }
  }
}


@media (max-width: 570px) {
	.cart-item {
		&__left {			
			&-img {
				min-width: 140px;
				border-radius: 5px;

				img {			
					width: 140px;
					height: 90px;
				}
      }
		}

		&__content {
      &-name {
				margin-bottom: 6px;
      }
    }

		&__right {
      button {
        font-size: $f-small;
      }
    }
	}
}

@media (max-width: 490px) {
	.cart-item {
		flex-wrap: wrap;
		padding: 10px 0;
		justify-content: center;

    &__left {
			flex-wrap: wrap;
			max-width: 360px;
			gap: 8px;

      &-img {
				width: 100%;
				border-radius: 5px;
				margin: 0 auto;

				img {		
					width: 100%;
					max-width: 100%;				
					height: 100px;
				}
      }
    }

    &__content {
			width: 100%;
			max-width: 100%;
			text-align: center;
			margin-bottom: 18px;
			
      &-name {
				font-size: $f-def;
				margin-bottom: 8px;
      }

			&-price {
				font-size: $f-small;
			}
    }

    &__right {
			width: 100%;
			text-align: center;
    }
  }
}