@import '../../../styles/vars.scss';

.home-item__content-buy_btn {
  color: $c-white;
  font-size: $f-def;
  font-weight: 600;
  padding: 0 12px;
  border-radius: $b-radius-def;
  display: flex;
  align-items: center;
  height: 3.5rem;
  background: $c-blue-gradient;
  box-shadow: 0 1px 10px $c-blue;
  transition: box-shadow 0.1s ease;

  &:hover {
    box-shadow: 0 1px 15px #516ada;
  }

  &--active {
    background: #27a138;
    box-shadow: 0 1px 10px #27a138;

    &:hover {
      box-shadow: 0 1px 15px #29ac3a;
    }
  }
}
