@import '../../styles/vars.scss';

.filters {
	
	&__wrapper {
		width: 185px;
		height: 100%;
		max-height: 366px;
		padding: 15px 0;
		background-color: $c-medium-blue;
		border-radius: $b-radius-def;
		box-shadow: 0 3px 17px $c-medium-blue;
		text-align: right;
	}

  &__title {
    font-size: $f-big;
    font-weight: 700;
    margin-right: 12px;
    margin-bottom: 15px;
  }

  &__list {
    &-item:first-child {
      margin-bottom: 18px;
      border-bottom: 1px solid #505557;
      button {
        font-size: $f-medium;
        font-weight: 600;

        &::after {
          background: linear-gradient(45deg, #e06751, $c-orange);
        }
      }
    }

    &-item {
      &_btn {
        font-size: $f-def;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        width: 100%;
        padding: 8px 16px 7px 16px;
        border-radius: 3px;
        position: relative;
        z-index: 10;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(45deg, #415cd1, #324bb9);
          border-radius: 3px;
          opacity: 0;
          transition: opacity 0.1s ease;
          z-index: -1;
        }

        &--active::after {
          opacity: 1;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .filters {

		&__toggle {
			display: flex;
			align-items: center;
			gap: 20px;
			text-transform: uppercase;

			button {
				color: $c-white;
				font-size: 2.8rem;
				width: 40px;
				height: 40px;
				border: 2px solid #4c5053;
				border-radius: $b-radius-small;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			h2 {
				font-size: 2.8rem;
			}
		}

		&__wrapper {
			display: none;
		}

		&__title {
			display: none;
		}

		&__list {
			&-item {
				&_btn {
					justify-content: flex-start;
				}
			}
		}
  }
}
