@import '../../../styles/vars.scss';

.cart-preview {
  position: absolute;
  content: '';
  top: 50px;
  left: 10px;
  transform: translateX(-50%);
  width: 310px;
  min-height: 90px;
  padding: 10px 6px 15px 6px;
  background-color: $c-light-grey;
  border-radius: $b-radius-def;
  box-shadow: 0 3px 17px #222425;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: visibility 0.2s ease, opacity 0.2s ease;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: '';
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: $c-light-grey;
    border-radius: 3px;
    rotate: 45deg;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    max-height: 570px;
    padding: 0 4px;
		margin-bottom: 45px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
      background-color: $c-white;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $c-medium-blue;
      border-radius: 5px;
    }
  }

  &__empty {
    text-align: center;
    padding: 20px 0 15px 0;

    img {
      display: block;
      margin: 0 auto 15px;
    }

    span {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}
